// Handy mixin for fullbleed video backgrounds. Specifics regarding the
// arguments can be found in `_settings.scss`.
@mixin fullbleed-vimeo-titlepage(
  $vimeo-titlepage-slug,
  $vimeo-aspect-ratio: "16x9"
) {
  $values: aspect-ratio-values($vimeo-aspect-ratio);
  $ratio-a: nth($values, 1); // 16
  $ratio-b: nth($values, 2); // 9

  @if $build == "reader" {
    // Base (desktop) styles
    #layout.#{$vimeo-titlepage-slug} {
      max-width: 100%;

      .spread .vimeo.vimeo--#{$vimeo-aspect-ratio} {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @include break-at("desktop-landscape", "tablet-landscape") {
      #layout.#{$vimeo-titlepage-slug} .spread {
        .spread__content {
          transform: none !important; // Reader inline styles override

          .bodymatter.chapter {
            position: fixed;
            left: 0;
            top: $reader-header-height;

            width: auto;
            max-width: 100%;
          }
        }

        .vimeo.vimeo--#{$vimeo-aspect-ratio} .embed.supported {
          padding-top: $ratio-b / $ratio-a * 100%;
          width: $ratio-a / $ratio-b * 100%;
          transform: translateX(-50%);
          left: 50%;
          height: 100vh;
        }
      }
    }

    @include break-at(
      "desktop-portrait",
      "tablet-portrait",
      "mobile-portrait"
    ) {
      #layout.#{$vimeo-titlepage-slug} {
        padding-top: $reader-header-height !important;
        height: 100% !important;
        columns: unset !important; // TODO this shouldn't be necessary

        .spread .spread__content {
          padding-top: $reader-header-height;

          .bodymatter.chapter {
            position: fixed;
            left: 0;
            top: $reader-header-height;

            width: auto;
            max-width: 100%;
          }

          .vimeo.vimeo--#{$vimeo-aspect-ratio} {
            height: 0;
            padding: 0;

            .embed.supported {
              position: static;
              padding: 0;
              height: calc(100vh - #{$reader-footer-height});
            }
          }

          iframe {
            @include iframe("portrait", $ratio-a, $ratio-b);
          }
        }
      }
    }

    // Mobile styles
    @include break-at("mobile-portrait") {
      #layout.#{$vimeo-titlepage-slug} {
        overflow: hidden;

        .spread .spread__content {
          padding-top: 0 !important;

          .bodymatter.chapter {
            position: fixed;
            left: 0;
            top: $reader-header-height;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            height: calc(
              100vh - #{$reader-header-height + $reader-footer-height}
            );

            padding-bottom: 35px; // Add some space at the end of scroll
          }
        }
      }
    }

    @include break-at("mobile-landscape") {
      #layout.#{$vimeo-titlepage-slug} {
        padding-top: $reader-header-height !important;
        height: 100% !important;
        overflow: hidden;
        columns: unset !important; // TODO this shouldn't be necessary

        .spread .spread__content {
          padding-top: 0;

          .bodymatter.chapter {
            position: fixed;
            left: 0;
            top: $reader-header-height;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            height: calc(
              100vh - #{$reader-header-height + $reader-footer-height}
            );

            padding: 35px 35px 35px;
            width: 100%;
            max-width: 100%;
          }

          .vimeo.vimeo--#{$vimeo-aspect-ratio} {
            height: 0;
            padding: 0;

            .embed.supported {
              position: relative;
              width: 100vw;
              padding: 0;
            }
          }

          iframe {
            @include iframe("landscape", $ratio-a, $ratio-b);
          }
        }
      }
    }
  }

  // Hide figure background on titlepage spread
  @if $build == "epub" or $build == "mobi" {
    #layout.#{$vimeo-titlepage-slug} .spread {
      .figure__large.figure__inline.figure__inline--landscape,
      .figure__large.figure__inline.figure__inline--square {
        display: none;
      }
    }
  }
}
