@mixin fullbleed-background-image(
  $background-image-name,
  $background-repeat: no-repeat,
  $background-position-x: center,
  $background-position-y: center,
  $background-size: contain
) {
  background-image: url('../images/#{$background-image-name}');
  background-repeat: #{$background-repeat};
  background-position: $background-position-x $background-position-y;
  background-size: #{$background-size};

  // $bottom-margin-buffer: 30px;

  // This variable comes from the padding applied to the titlepage's
  // spread__content commented out below.
  // $spread-padding-top: calc((100vh - 450px) / 2 - 60px);
  // .my-titlepage .spread__content { padding: calc((100vh - 450px) / 2 - 60px) 0 0 0; }

  // TODO this media query should be swapped out for the `break-at` queries
  // which correspond with the reader's injected SCSS when merged with the
  // work in the `background-video` branch of the ccc theme
  @media only screen and (max-width: 960px) {
    position: absolute;
    top: $reader-header-height;
    width: 100vw;
    // padding-bottom: $reader-footer-height + $bottom-margin-buffer;
    // min-height: calc(100vh - #{$spread-padding-top} - #{$reader-chrome-height});

    height: auto;
    min-height: calc(100vh - #{$reader-header-height + $reader-footer-height});
  }
}
