// Reader styles for Spread layout on desktop and mobile
$mobile-layout-padding-x: 30px;
$mobile-layout-padding-y: 60px;

@mixin iframe-spread($background-color: $black) {
  // TODO update media queries with `break-at` mixin
  // @include break-at("mobile") {
  @media only screen and (max-width: 768px) {
    height: calc(100vh - #{$mobile-layout-padding-y * 2}) !important;
  }

  figure {
    transform: none !important; // TODO check this against calculated values in the reader

    background-color: $background-color;
    height: calc(100vh - #{$reader-header-height}) !important;
    margin-top: $reader-header-height;

    .vimeo.vimeo--4x3.figure__large.figure__inline,
    .vimeo.vimeo--4x3 .embed.supported,
    .vimeo.vimeo--16x9.figure__large.figure__inline,
    .vimeo.vimeo--16x9 .embed.supported,
    .vimeo.vimeo--21x9.figure__large.figure__inline,
    .vimeo.vimeo--21x9 .embed.supported {
      padding: 0;
    }

    @media only screen and (max-width: 768px) {
      width: 100vw;
      height: calc(100vh - #{$reader-footer-height}) !important;

      margin: 0;

      position: relative;
      left: $mobile-layout-padding-x * -1 !important;
      top: $reader-header-height - $mobile-layout-padding-y; // Yields negative top
    }

    iframe {
      height: calc(
        100vh - #{$reader-header-height + $reader-footer-height}
      ) !important;

      top: -21px !important;

      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 768px) {
        height: calc(100vh - 150px) !important;
      }
    }
  }
}
