// Mobile
$mq-mobile: "only screen and (max-width: 768px)";
$mq-tablet: "only screen and (min-width: 768px) and (max-width: 1140px)";
$mq-desktop: "only screen and (min-width: 1140px)"; // Covers all desktop sizes sm - xl
$mq-desktop-sm: "only screen and (min-width: 1140px) and (max-width: 1140px)";
$mq-desktop-md: "only screen and (min-width: 1140px) and (max-width: 1440px)";
$mq-desktop-lg: "only screen and (min-width: 1440px) and (max-width: 1920px)";
$mq-desktop-xl: "only screen and (min-width: 1920px)";
$mq-reader-scroll: "only screen and (max-width: 1140px), (min-aspect-ratio: 13 / 5)";
$mq-reader-slide: "only screen and (min-width: 1140px) and (max-aspect-ratio: 13 / 5)";

$break-map: (
  "mobile": $mq-mobile,
  "tablet": $mq-tablet,
  "desktop": $mq-desktop,
  "desktop-sm": $mq-desktop-sm,
  "desktop-md": $mq-desktop-md,
  "desktop-lg": $mq-desktop-lg,
  "desktop-xl": $mq-desktop-xl,
  "reader-scroll": $mq-reader-scroll,
  "reader-slide": $mq-reader-slide,
);

// Media query mixin. Accepts multiple arguments. Because the media queries are
// relatively specific, it's simpler to wrap styles in multiple queries than to
// work from a 'global' base (i.e., a 'mobile-first' strategy). Called with
// a single value, or a comma separated list of values:
//
// @include break-at('mobile') { ... }
// @include break-at('mobile', 'tablet') { .. }
@mixin break-at($media...) {
  $query: "";

  @for $i from 1 through length($media) {
    $value: map-get($break-map, nth($media, $i));

    @if not $value {
      @error "`#{$media}` is not a supported media query name.";
    }

    @if $query != "" {
      $query: "#{$query}, #{$value}";
    } @else {
      $query: $value;
    }
  }

  @media #{$query} {
    @content;
  }
}

// Legacy
// @deprecated
@mixin break($media) {
  @warn "Deprecated mixin `break`. Use the `break-at` mixin";
  @include break-at($media) {
    @content;
  }
}
