@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin hyphens($hyphenation: auto) {
  -epub-hyphens: $hyphenation;
  adobe-hyphenate: $hyphenation;
  hyphens: $hyphenation;
}

@mixin widows($n: 2) {
  widows: $n;
}

@mixin orphans($n: 1) {
  orphans: $n;
}

@mixin text-rendering($value: optimizeLegibility) {
  text-rendering: $value;
}

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin variant-weight($weight-variant, $weight-static) {
  font-weight: $weight-static; // Fallback
  font-variation-settings: "wght" $weight-variant;
}

@mixin following-paragraph-not-indented {
  + p {
    text-indent: 0 !important;
  }
}

@mixin paragraph-not-indented {
  margin-bottom: one-line(0);
  text-indent: 0 !important;
}

@mixin following-element-has-no-top-padding {
  + table,
  + ul,
  + ol,
  + dl,
  + blockquote {
    margin-top: 0;
  }
  + hr {
    margin-top: one-line(0);
  }
}

@mixin variant-weight-regular {
  @include variant-weight(450, 400);
}

@mixin variant-weight-bold {
  @include variant-weight(600, 700);
}
